// Colors
$primary: #FFE400;
$text: #000000;
$greyLight: #F1F1F1;
$grey: #8E8E8E;
$danger: #bb2124;
$primaryGradient: linear-gradient(58deg, #FFE400 0%, #FFC500 100%);

// Font
$fontSize: 15px;
$lineHeight: 1.2;
$family: 'Comfortaa', cursive;

// Spacings
$columnGap: 10px;

// Animations
$speed: 0.25s;
$easing: ease;
$transition: all $speed $easing;
