@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?3uieod');
  src:  url('./icomoon.eot?3uieod#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?3uieod') format('truetype'),
    url('./icomoon.woff?3uieod') format('woff'),
    url('./icomoon.svg?3uieod#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e904";
}
.icon-zoom_in:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-chevron-left:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e900";
}
