<template>
  <div
    class="column"
    :class="`is-${size}`"
  >
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Column',
  props: {
    size: {
      type: Number,
      default: 12,
    },
  },
};
</script>

<style lang="scss">
.column {
  padding: $columnGap;

  &.is-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  &.is-4 {
    flex: 0 0 33.333333333333%;
    max-width: 33.333333333333%;

    @media screen and (min-width: 510px) and (max-width: 1024px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media screen and (max-width: 768px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
</style>
