<template>
  <div
    class="columns"
    v-bind:class="{
      'is-centered': centered,
      'is-multiline': multiline,
    }"
  >
    <slot/>
  </div>
</template>

<script>
export default {
  name: 'Columns',
  props: {
    element: Node,
    centered: Boolean,
    multiline: Boolean,
  },
};
</script>

<style lang="scss">
.columns {
  display: flex;
  margin: -$columnGap;

  &.is-centered {
    justify-content: center;
  }

  &.is-multiline {
    flex-wrap: wrap;
  }
}
</style>
