<template>
  <div class="container">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'container',
};
</script>

<style scoped lang="scss">
  .container {
    position: relative;
    width: 940px;
    max-width: 100%;
    margin-left: auto;
    padding: $columnGap;
    margin-right: auto;

    @media screen and (min-width: 1024px) {
      width: 1020px;
    }

    @media screen and (min-width: 1440px) {
      width: 1400px;
    }
  }
</style>
