<template>
  <a class="button" @click="onClick">
    <slot />
  </a>
</template>

<script>
export default {
  name: 'Button',
  props: {
    onClick: Function,
  },
};
</script>

<style lang="scss">
  .button {
    transition: $transition;
    min-height: 40px;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: $primary;
    color: $text;
    padding: 5px 15px;
    cursor: pointer;

    &:hover {
      background: darken($primary, 2%);
    }
  }
</style>
