<template>
  <div class="error-box">
    <h2 class="error-box__title">
      {{title}}
      <span v-if="statusCode">Error code: {{statusCode}}</span>
    </h2>
    <div v-if="content" class="error-box__content">
      <p>{{content}}</p>
    </div>
    <Button :onClick="reloadPage">
      Reload page
    </Button>
  </div>
</template>

<script>
// Components
import Button from './Button.vue';

export default {
  name: 'ErrorBox',
  props: {
    title: {
      type: String,
      default: 'Unexpected error happend! ☹️',
    },
    statusCode: Number,
    content: String,
  },
  components: {
    Button,
  },
  methods: {
    reloadPage() {
      window.location.reload();
    },
  },
};
</script>

<style scoped lang="scss">
.error-box {
  width: 800px;
  max-width: 100%;
  padding: 20px;
  border-radius: 8px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $danger;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    color: $danger;
    margin-top: 0;
    text-align: center;
    font-weight: bold;

    span {
      display: block;
      font-size: 18px;
      margin-top: 5px;
      font-width: normal;
    }
  }

  &__content {
    text-align: center;
  }
}
</style>
