<template>
  <div>
    <div class="image-item" @click="showModal = true">
      <a class="image-item__image">
        <img
          v-lazy="url"
        />
      </a>
      <p class="image-item__author">{{author}}</p>
      <p class="image-item__tag">#{{id}}</p>
    </div>
    <ImageModal v-if="showModal" :src="src" @close="showModal = false" />
  </div>
</template>

<script>
import ImageModal from './ImageModal.vue';

export default {
  name: 'ImageItem',
  props: {
    url: String,
    author: String,
    id: String || Number,
    src: String,
  },
  components: {
    ImageModal,
  },
  data() {
    return {
      showModal: false,
    };
  },
};
</script>

<style lang="scss">
  .image-item {
    position: relative;
    border-radius: 0px 15px 0px 15px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      .image-item {
        &__image {
          &:before {
            background: rgba(0,0,0,.4);
          }

          &:after {
            transform: translate(-50%, -50%) scale(6);
            opacity: 1;
          }
        }
      }
    }
    &__image {
      display: block;
      overflow: hidden;
      position: relative;
      padding-bottom: 72.6666667%;
      position: relative;
      margin: 0;
      &:before {
        transition: $transition;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0);
        z-index: 1;
        pointer-events: none;
      }
      &:after {
        transition: $transition;
        @include icon;
        content: "\e903";
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 2;
      }

      img {
        height: 100%;
        left: 50%;
        max-width: none;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
      }
    }
    &__author {
      position: absolute;
      bottom: 12px;
      left: 12px;
      margin: 0;
      min-height: 22px;
      background-image: $primaryGradient;
      border-radius: 11px 0 11px 11px;
      padding: 5px $columnGap;
      line-height: 1;
      display: block;
      font-size: 15px;
      font-weight: bold;
      max-width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      z-index: 2;
    }
    &__tag {
      position: absolute;
      top: 12px;
      right: 12px;
      min-height: 22px;
      padding: 6px 10px 5px 10px;
      margin-top: 0;
      border-radius: 11px 11px 11px 0;
      font-size: 15px;
      margin-bottom: 0;
      background: #F1F1F1;
      z-index: 2;
    }
  }
</style>
