<template>
  <div class="modal">
    <div class="modal-mask" @click="$emit('close')"></div>
    <a class="modal__close" @click="$emit('close')">
      <span class="icon-clear"></span>
    </a>
    <Container>
      <div class="modal__image">
        <img
          v-lazy="src"
        />
      </div>
    </Container>
  </div>
</template>

<script>
import Container from './Layout/Container.vue';

export default {
  name: 'ImageModal',
  props: {
    src: String,
  },
  components: {
    Container,
  },
};
</script>

<style scoped lang="scss">
  .modal-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0,0,0,.8);
    cursor: pointer;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    .container {
      height: calc(100vh - 40px);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      overflow: auto;
      margin-top: 20px;

      @media screen and (max-width: 1024px) {
        align-items: center;
      }
    }
    &__image {
      padding-bottom: 72.6666667%;
      max-width: 100%;
      position: relative;
      width: 100%;
      border-radius: 24px;
      overflow: hidden;

      @media screen and (max-width: 1024px) {
        border-radius: 12px;
      }

      img {
        height: 100%;
        left: 50%;
        max-width: none;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
      }
    }
    &__close {
      color: white;
      font-size: 30px;
      position: absolute;
      top: 30px;
      right: 30px;
      cursor: pointer;
      z-index: 11;
    }
  }
</style>
