<template>
  <div class="pagination">
    <a
      @click="prevPage"
      class="pagination__item"
      :class="{
        'disabled': !prev,
      }"
    >
      <span class="icon-chevron-left"></span>
    </a>
    <a class="pagination__item no-event">
      {{pageNumber}}
    </a>
    <a
      @click="nextPage"
      class="pagination__item"
      :class="{
        'disabled': !next,
      }"
    >
      <span class="icon-chevron-right"></span>
    </a>
  </div>
</template>

<script>
export default {
  name: 'Pagination',
  props: {
    nextPage: Function,
    prevPage: Function,
    next: Boolean,
    prev: Boolean,
    pageNumber: Number,
  },
};
</script>

<style scoped lang="scss">
  .pagination {
    display: flex;
    &__item {
      transition: $transition;
      height: 30px;
      width: 30px;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      background: white;
      line-height: 1;
      user-select: none;
      &:not(.no-event) {
        cursor: pointer;

        &:hover {
          background: $greyLight;
        }
      }
      &.disabled {
        pointer-events: none;
        background: $greyLight;
        opacity: 0.8;
        cursor: not-allowed;
      }
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
</style>
