<template>
  <a
    @click="scrollTop"
    class="scroll-top-button"
    :class="{
      'is-active': show,
    }"
  >
    <span class="icon-chevron-right"></span>
  </a>
</template>

<script>
export default {
  name: 'ScrollTopButton',
  props: {
    show: Boolean,
  },
  methods: {
    scrollTop() {
      function scroll() {
        if (document.body.scrollTop !== 0 || document.documentElement.scrollTop !== 0) {
          window.scrollBy(0, -100);
          requestAnimationFrame(scroll);
        }
      }
      scroll();
    },
  },
};
</script>

<style lang="scss">
  .scroll-top-button {
    transition: $transition;
    z-index: 10;
    opacity: 0;
    width: 46px;
    height: 46px;
    border-radius: 8px;
    background-image: $primaryGradient;
    position: sticky;
    bottom: 15px;
    margin-right: 15px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text;
    cursor: pointer;
    pointer-events: none;
    margin-top: -46px;
    &.is-active {
      opacity: 1;
      pointer-events: all;
    }

    &:hover,
    &:active {
      box-shadow: 0 2px 7px 0 rgba(0,0,0,0.10)
    }

    [class^="icon-"],
    [class*=" icon-"] {
      transform: rotate(-90deg);
    }
  }
</style>
