<template>
  <div class="search-field">
    <input
      class="input"
      type="search"
      placeholder="Search for author …"
      @input="handleChange"
    />
  </div>
</template>

<script>
export default {
  name: 'SearchField',
  props: {
    keyword: String,
  },
  methods: {
    handleChange(e) {
      this.$emit('changeValue', e.target.value);
    },
  },
};
</script>

<style scoped lang="scss">
  .search-field {
    width: 100%;
    display: block;
    position: relative;
    &:before {
      @include icon;
      content: "\e900";
      font-size: 18px;
      color: $grey;
      position: absolute;
      top: 13px;
      left: 15px;
    }
    .input {
      transition: $transition;
      background: #FFFFFF;
      box-shadow: 0 2px 7px 0 rgba(0,0,0,0.10);
      height: 46px;
      border-radius: 0px 23px 23px 23px;
      border: 0;
      -webkit-appearance: none;
      outline: none;
      font-size: 13px;
      font-family: $family;
      padding: 0 16px 0 46px;
      width: 100%;
      &::placeholder {
        color: $grey;
      }
      &:focus {
        box-shadow: 0 2px 7px 0 rgba(0,0,0,0.20);
      }
    }
  }
</style>
