<template>
  <div class="main">
    <Container>
      <Columns
        :centered="true"
        :multiline="true"
      >
        <Column :size="12">
          <SearchField
            v-on:changeValue="handleKeywordChange"
            :value="keyword"
          />
        </Column>
        <Column :size=12>
          <div class="filter-row">
            <div class="filter-row__number-per-page">
              <span>Showing</span>
              <input
                class="input-small"
                type="number"
                v-model="currentLimit"
                :max=100
                :min=1
                @input="handleLimitChange"
              />
              <span>images per page</span>
            </div>
            <div class="filter-row__pagination">
              <Pagination
                :next="!!(next)"
                :prev="!!(prev)"
                :pageNumber="pageNumber"
                :nextPage="nextPage"
                :prevPage="prevPage"
              />
            </div>
          </div>
        </Column>
        <Column :size=12 v-if="!loading && !results && error">
          <ErrorBox
            :status-code="error.code"
            :content="error.statusText"
          />
        </Column>
        <Column :size=12 v-if="loading">
          <Loader />
        </Column>
        <Column :size=12 v-if="keyword && !error && !loading && results.length === 0">
          <h3>Sorry... We couldn't find any images from author <em>"{{keyword}}"</em></h3>
        </Column>
        <Column :size=12 v-if="!keyword && !error && !loading && results.length === 0">
          <h3>No results found. Please reload the page, or go back a few pages.</h3>
        </Column>
        <template v-for="result in results">
          <Column :size=4 v-bind:key="result.id" v-if="!loading && !error && results.length > 0">
            <ImageItem
              :url="`https://picsum.photos/id/${result.id}/367/267`"
              :author="result.author"
              :id="result.id"
              :src="result.download_url"
            />
          </Column>
        </template>
      </Columns>
      <ScrollTopButton
        :show="showScrollTop"
      />
    </Container>
  </div>
</template>

<script>
import axios from 'axios';
import debounce from 'lodash/debounce';

// Components
import ImageItem from './components/ImageItem.vue';
import Loader from './components/Loader.vue';
import ErrorBox from './components/ErrorBox.vue';
import ScrollTopButton from './components/ScrollTopButton.vue';
import SearchField from './components/SearchField.vue';

import Columns from './components/Layout/Columns.vue';
import Column from './components/Layout/Column.vue';
import Container from './components/Layout/Container.vue';
import Pagination from './components/Pagination.vue';

// Utils
import parseLinkHeader from './utils/parseLinkHeader';

// Global styles
import './assets/icons/style.css';

export default {
  name: 'App',
  components: {
    ScrollTopButton,
    Column,
    Columns,
    ImageItem,
    Container,
    Loader,
    ErrorBox,
    Pagination,
    SearchField,
  },
  data() {
    return {
      loading: false,
      results: [],
      error: null,
      keyword: '',
      pageNumber: 1,
      next: true,
      prev: false,
      showScrollTop: false,
      currentLimit: 20,
    };
  },
  props: {
    msg: String,
  },
  mounted() {
    this.handleSearch();
  },
  watch: {
    currentLimit: debounce(function setCurrentLimit() {
      this.handleSearch();
    }, 300),
    keyword: 'filterAuthor',
    pageNumber: 'handleSearch',
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    handleScroll() {
      if (window.pageYOffset > window.innerHeight * 1.5) {
        this.showScrollTop = true;
        return true;
      }
      this.showScrollTop = false;
      return false;
    },
    nextPage() {
      this.pageNumber += 1;
    },
    prevPage() {
      this.pageNumber -= 1;
    },
    toggleLoading(on) {
      this.loading = on === 'on';
    },
    handleKeywordChange(e) {
      this.keyword = e;
    },
    handleLimitChange(e) {
      const value = e.target.valueAsNumber;
      if (typeof value !== 'number' || Number(value) < 1 || !value) {
        this.currentLimit = 1;
        return;
      }

      if (value > 100) {
        this.currentLimit = 100;
        return;
      }
      this.currentLimit = e.target.valueAsNumber;
    },
    filterAuthor() {
      if (!this.keyword) {
        this.results = this.defaultResults;
        return;
      }

      const filter = this.keyword.toUpperCase();
      this.results = this.defaultResults.filter((result) => {
        const match = result.author.toUpperCase().includes(filter);
        return match;
      });
    },
    async handleSearch() {
      this.toggleLoading('on');
      const {
        data,
        status,
        statusText,
        headers,
      } = await axios.get(`https://picsum.photos/v2/list?page=${this.pageNumber}&limit=${this.currentLimit}`);

      if (status !== 200) {
        this.error = {
          code: status,
          statusText: statusText || 'Unexpected error happened during data fetching, please reload your browser. 🤕',
        };
        this.results = null;
        return this.toggleLoading('off');
      }

      const linkHeader = parseLinkHeader(headers.link);
      this.next = linkHeader.next;
      this.prev = linkHeader.prev;
      this.results = data;
      this.defaultResults = data;
      this.filterAuthor();
      return this.toggleLoading('off');
    },
  },
};
</script>

<style lang="scss">
  .main {
    position: relative;
    background-image: url('./assets/images/top-decor.svg');
    background-size: auto 550px;
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 100vh;
    color: $text;
    padding-top: $columnGap;

    @media screen and (min-width: 1441px) {
      background-size: 100% auto;
    }
  }

  .filter-row {
    font-size: 15px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 509px) {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &__number-per-page {
      display: flex;
      align-items: center;
      flex: 1;

      @media screen and (max-width: 509px) {
        margin-bottom: 16px;
      }
    }

    &__pagination {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .input-small {
    -webkit-appearance: none;
    border: 0;
    border-radius: 6px;
    min-height: 30px;
    min-width: 0;
    width: 60px;
    margin-left: 8px;
    margin-right: 8px;
    outline: none;
    font-size: 15px;
    text-align: center;
    padding: 5px $columnGap;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
</style>
